{% extends 'base.html' %} {% load widget_tweaks %} {% block head %}
<title>Profile</title>
{% endblock head %} {% block body %}
<h1>Register!</h1>


<form mehtod="POST">
    {% csrf_token %} {% for field in form %}
    <div class="row text-center py-2">

        <div class="col-md-4 font-weight-bold">
            {{ field.label_tag }}
        </div>
        <div class="col-md-8">
            {{ field | add_class:"form-field"}}
        </div>
        <!-- <p>    
                        {{ field.errors|striptags }} 
                    </p> -->
    </div>
    {% endfor %}
    <input type="submit" value="register" class="btn btn-primary" />
</form>
{% endblock body %}